<p id="notice"><%= notice %></p>

<p>
  <strong>Ac type:</strong>
  <%= @ipc_airbus.ac_type %>
</p>

<p>
  <strong>Ata:</strong>
  <%= @ipc_airbus.ata %>
</p>

<p>
  <strong>System:</strong>
  <%= @ipc_airbus.system %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ipc_airbus.description %>
</p>

<p>
  <strong>Fin:</strong>
  <%= @ipc_airbus.fin %>
</p>

<p>
  <strong>Add infos:</strong>
  <%= @ipc_airbus.add_infos %>
</p>

<p>
  <strong>Part number:</strong>
  <%= @ipc_airbus.part_number %>
</p>

<p>
  <strong>Add material info:</strong>
  <%= @ipc_airbus.add_material_info %>
</p>

<p>
  <strong>Ipc:</strong>
  <%= @ipc_airbus.ipc %>
</p>

<%= link_to 'Edit', edit_ipc_airbus_path(@ipc_airbus) %> |
<%= link_to 'Back', ipc_airbuses_path %>
