<p id="notice"><%= notice %></p>

<p>
  <strong>Ac type:</strong>
  <%= @ipc_boeing.ac_type %>
</p>

<p>
  <strong>Ata:</strong>
  <%= @ipc_boeing.ata %>
</p>

<p>
  <strong>System:</strong>
  <%= @ipc_boeing.system %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ipc_boeing.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @ipc_boeing.location %>
</p>

<p>
  <strong>Add infos:</strong>
  <%= @ipc_boeing.add_infos %>
</p>

<p>
  <strong>Part number:</strong>
  <%= @ipc_boeing.part_number %>
</p>

<p>
  <strong>Add material info:</strong>
  <%= @ipc_boeing.add_material_info %>
</p>

<p>
  <strong>Ipc:</strong>
  <%= @ipc_boeing.ipc %>
</p>

<%= link_to 'Edit', edit_ipc_boeing_path(@ipc_boeing) %> |
<%= link_to 'Back', ipc_boeings_path %>
