<p id="notice"><%= notice %></p>

<p>
  <strong>System:</strong>
  <%= @ipc_all_ac.system %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ipc_all_ac.description %>
</p>

<p>
  <strong>Add infos:</strong>
  <%= @ipc_all_ac.add_infos %>
</p>

<p>
  <strong>Part number:</strong>
  <%= @ipc_all_ac.part_number %>
</p>

<p>
  <strong>Mat nr:</strong>
  <%= @ipc_all_ac.mat_nr %>
</p>

<p>
  <strong>Add material info:</strong>
  <%= @ipc_all_ac.add_material_info %>
</p>

<p>
  <strong>Info:</strong>
  <%= @ipc_all_ac.info %>
</p>

<%= link_to 'Edit', edit_ipc_all_ac_path(@ipc_all_ac) %> |
<%= link_to 'Back', ipc_all_acs_path %>
