<p id="notice"><%= notice %></p>

<p>
  <strong>Spm ref:</strong>
  <%= @smp_referenz.spm_ref %>
</p>

<p>
  <strong>Bauteil:</strong>
  <%= @smp_referenz.bauteil %>
</p>

<%= link_to 'Edit', edit_smp_referenz_path(@smp_referenz) %> |
<%= link_to 'Back', smp_referenzs_path %>
